.container-item {
    border-radius: 5px;
    max-width: 1280px;
    background-color: #ffffff;
    margin-right: 92px;
    padding-bottom: 3%;
    margin-bottom: 10px;
}

.container-item .section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.container-item .box-left {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 1%;
}

.container-item .box-header .hTitle {
    margin: 0;
}

.container-item .hTitle {
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    color: var(--titlecolor);
    margin-bottom: 0;
    white-space: initial;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.box-header .hTitle a {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-decoration: none;
}

.box-subHeader {
    display: flex;
    align-items: center;
}

.shTitle {
    font-weight: 600;
    line-height: 22px;
    padding-left: 21px;
    margin: 0 0 0 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.section-heading .shTitle:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 1px;
    height: 85%;
    background: #97999D;
}

.box-subHeader .shTitle {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
    font-size: 18px;
    color: #000000;
}

.box-subHeader svg {
    width: 22px;
    height: 16px;
}

.box-right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.cate-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.cate-list a {
    cursor: pointer;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    padding: 5px 13px;
    white-space: nowrap;
}

.cate-list a:hover {
    color: #FF3C53;
}

.button-more {
    cursor: pointer;
    display: flex;
    margin-right: 20px;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1982F9;
}

.button-more:hover {
    color: #FF3C53;
}


.product-section-item {
    display: flex;
    gap: 8px;
    overflow: hidden;
    position: relative;
}

.product-slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.product-card-item {
    cursor: pointer;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 0 0 222px;
    padding: 15px;
    position: relative;
    margin-left: 13px;
    margin-bottom: 10px
}

.product-card-item img {
    max-width: 100%;
    border-radius: 8px;
    min-height: 212px;
    /* Đặt chiều cao tối thiểu */
    object-fit: cover;
    /* Đảm bảo nội dung ảnh được bao phủ đầy đủ */
}

.product-title-item {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
    overflow: hidden;
    /* Ẩn phần văn bản vượt quá */
    display: -webkit-box;
    /* Sử dụng để hỗ trợ line-clamp */
    -webkit-line-clamp: 2;
    /* Số dòng tối đa được hiển thị */
    -webkit-box-orient: vertical;
    /* Đặt hướng của box */
    text-overflow: ellipsis;
    /* Thêm dấu "..." nếu văn bản vượt quá */
    word-wrap: break-word;
    /* Chia từ nếu cần */
}

.product-price-item {
    margin: 10px 0;
    font-size: 18px;
    text-align: left;
}

.product-price-item .old-price-item {
    text-decoration: line-through;
    color: #999;
    display: block;
    /* Đặt giá cũ trên một dòng riêng */
    font-size: 13px;
}

.product-price-item .current-price-container-item {
    display: flex;
    align-items: baseline;
    gap: 8px;
    margin-top: 4px;
}

.product-price-item .current-price-item {
    color: #dc0000;
    font-size: 16px;
    font-weight: bold;
}

.product-price-item .discount-item {
    padding: 0 4px;
    background: #FFEDED;
    border-radius: 2px;
    color: #E30019;
    border: 1px solid #E30019;
    line-height: 16px;
    font-size: 13px;
    margin-left: 10px;
}

.product-rating-item {
    margin: 10px 0;
    color: #FF8A00;
    font-size: 13px;
    text-align: left;
}

.product-rating-item .rating-item {
    font-weight: 600;
}

.product-rating-item .review-count-item {
    color: #FF8A00;
    color: #555;
    margin-left: 5px;
}

.product-sold-item {
    margin: 10px 0;
    font-size: 14px;
    color: #dc0000;
    font-weight: bold;
}

.sticker_left_bottom-item .suaanh-item {
    position: absolute;
    z-index: 1;
    top: 35%;
    left: 0;
    display: flex;
    align-items: flex-end;
    min-height: 0px;
    height: 62px;
}

.specs-container-item {
    background: #ECECEC;
    border-radius: 8px;
    padding: 7px;
    display: flex;
    gap: 10px;
    max-width: 200px;
    margin: 20px auto;
    flex-wrap: wrap;
}

.specs-container-item .spec-item-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.specs-container-item .spec-item-item svg {
    width: 12px;
    height: 12px;
}

.specs-container-item .spec-text-item {
    color: #4b5563;
    font-weight: 550;
    font-size: 12px;
}

.slider-prev,
.slider-next {
    cursor: pointer;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 269%;
    transform: translateY(-50%);
    border: none;
    background: #ECECEC;
    z-index: 2;
    outline: none;
    border-radius: 50%;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 0px 4.80687px rgba(0, 0, 0, 0.2)
}

.slider-prev {
    left: 10%;

}

.slider-next {
    right: 11%;
}

.slider-prev2,
.slider-next2 {
    cursor: pointer;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 361%;
    transform: translateY(-50%);
    border: none;
    background: #ECECEC;
    z-index: 2;
    outline: none;
    border-radius: 50%;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 0px 4.80687px rgba(0, 0, 0, 0.2)
}

.slider-prev2 {
    left: 10%;

}

.slider-next2 {
    right: 11%;
}

.slider-prev3,
.slider-next3 {
    cursor: pointer;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 449%;
    transform: translateY(-50%);
    border: none;
    background: #ECECEC;
    z-index: 2;
    outline: none;
    border-radius: 50%;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 0px 4.80687px rgba(0, 0, 0, 0.2)
}

.slider-prev3 {
    left: 10%;

}

.slider-next3 {
    right: 11%;
}
.slider-prev4,
.slider-next4 {
    cursor: pointer;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 531%;
    transform: translateY(-50%);
    border: none;
    background: #ECECEC;
    z-index: 2;
    outline: none;
    border-radius: 50%;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 0px 4.80687px rgba(0, 0, 0, 0.2)
}

.slider-prev4 {
    left: 10%;

}

.slider-next4 {
    right: 11%;
}
.slider-prev5,
.slider-next5 {
    cursor: pointer;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 662%;
    transform: translateY(-50%);
    border: none;
    background: #ECECEC;
    z-index: 2;
    outline: none;
    border-radius: 50%;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 0px 4.80687px rgba(0, 0, 0, 0.2)
}

.slider-prev5 {
    left: 10%;

}

.slider-next5 {
    right: 11%;
}