<div class="container grid-full-width">
    <div class="container-content grid">
        <div class="container-banner row">
            <a href="" class="container-banner-link col">
                <img class="container-banner-img" src="~/assets/image/container-banner/xxxbanner1.png" alt="">
            </a>
            <a href="" class="container-banner-link col">
                <img class="container-banner-img" src="~/assets/image/container-banner/xxxbanner2.png" alt="">
            </a>
            <a href="" class="container-banner-link col">
                <img class="container-banner-img" src="~/assets/image/container-banner/xxxbanner3.png" alt="">
            </a>
            <a href="" class="container-banner-link col">
                <img class="container-banner-img" src="~/assets/image/container-banner/xxxbanner4.png" alt="">
            </a>
        </div>
    <!-- ========================== -->
    <!--          END               -->
    <!-- ========================== -->




    <!-- ========================== -->
    <!--       Slider-cowndown      -->
    <!-- ========================== -->
        <div class="container-cowndown">
            <button class="prev-button"><svg width="18" height="18" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 50 50"
                    enable-background="new 0 0 50 50" xml:space="preserve">
                    <metadata><!--?xpacket begin="&#65279;" id="W5M0MpCehiHzreSzNTczkc9d"?-->
                        <x:xmpmeta xmlns:x="adobe:ns:meta/"
                            x:xmptk="Adobe XMP Core 5.3-c011 66.145661, 2012/02/06-14:56:27"></x:xmpmeta>
                        <!--?xpacket end="w"?-->
                    </metadata>
                    <g display="none">
                        <rect x="1" y="1" display="inline" fill="#000000" width="48" height="48"></rect>
                    </g>
                    <g>
                        <g>
                            <polygon
                                points="34.675,47.178 12.497,25 34.675,2.822 37.503,5.65 18.154,25 37.503,44.35   ">
                            </polygon>
                        </g>
                    </g>
                </svg>
            </button>
            <div class="banner">
                <div class="countdown-container">
                    <div class="countdown">
                        <div class="time-box">
                            <span id="days">02</span>
                        </div>
                        <div class="time-box">
                            <span id="hours">07</span>
                        </div>
                        <div class="time-box">
                            <span id="minutes">23</span>
                        </div>
                        <div class="time-box">
                            <span id="seconds">44</span>
                        </div>
                    </div>
                    <div class="promo-text">
                        <span class="lightning">⚡</span>
                        <span>MÁY BỘ PCBEST GIÁ CHỈ Từ 3.990.000Đ</span>
                    </div>
                </div>
                <a href="#" class="view-details">Xem chi tiết ›</a>
            </div>
            <div class="nen"></div>
            <div class="promo-image">
                <img src="~/assets/image/hinhSale/MÁY BỘ PCBEST.png" alt="Promo" style="width: 381px;height: 329px;">
            </div>
            <div class="product-section">
                <div class="product-slider">
                    <!-- Product Card 1 -->
                    <div class="product-card">
                        <img src="https://product.hstatic.net/200000722513/product/thumb_project_zero_c58860d9fa3a409294c17ab45f46f612_medium.png"
                            alt="Product Image">
                        <span class="sticker_left_bottom">
                            <img class="suaanh"
                                src="https://file.hstatic.net/200000722513/file/tag_bo_qua_5_trieu_d84af224989c45c5a17ca29544664be3.png"
                                alt="icon">
                        </span>
                        <div class="product-title">PC GVN x MSI PROJECT ZERO WHITE (Intel i5-12400F)</div>
                        <div class="product-price">
                            <span class="old-price">29.420.000đ</span>
                            <div class="current-price-container">
                                <span class="current-price">27.990.000đ</span>
                                <span class="discount">-5%</span>
                            </div>
                        </div>
                        <div class="product-rating">
                            <span class="rating">4.9 ★</span>
                            <span class="review-count">(45 đánh giá)</span>
                        </div>

                    </div>

                    <!-- Product Card 2 -->
                    <div class="product-card">
                        <img src="https://product.hstatic.net/200000722513/product/pc_gvn_-_amd_-_a21_-_3_c71ab3cdd9bf45cb947b98f4561300b4_grande.png"
                            alt="Product Image">
                        <div class="product-title">PC GVN x ASUS Back to Future</div>
                        <div class="product-price">
                            <span class="old-price">64.590.000đ</span>
                            <div class="current-price-container">
                                <span class="current-price">62.590.000đ</span>
                                <span class="discount">-3%</span>
                            </div>
                        </div>
                        <div class="product-rating">
                            <span class="rating">4.8 ★</span>
                            <span class="review-count">(30 đánh giá)</span>
                        </div>

                    </div>

                    <!-- Product Card 3 -->
                    <div class="product-card">

                        <img src="https://product.hstatic.net/200000722513/product/pc_gvn_rx6600_-_3_762ba90a94904a50809a93355cd819a7_grande.png"
                            alt="Product Image">
                        <span class="sticker_left_bottom">
                            <img class="suaanh"
                                src="https://file.hstatic.net/200000722513/file/tag_bo_qua_8_trieu_e4b3c491bef24fb1a0e4ad9bbae4b0c6.png"
                                alt="icon">
                        </span>
                        <div class="product-title">PC GVN Intel i3-12100F</div>
                        <div class="product-price">
                            <span class="old-price">10.990.000đ</span>
                            <div class="current-price-container">
                                <span class="current-price">9.990.000đ</span>
                                <span class="discount">-9%</span>
                            </div>
                        </div>
                        <div class="product-rating">
                            <span class="rating">4.6 ★</span>
                            <span class="review-count">(20 đánh giá)</span>
                        </div>

                    </div>

                    <!-- Product Card 4 -->
                    <div class="product-card">
                        <img src="https://product.hstatic.net/200000722513/product/pc_case_xigmatek_-_26_e36ac54740974ec88f65ca6eedfd10a2_grande.png"
                            alt="Product Image">
                        <div class="product-title">PC GVN Intel i5-12400F/ VGA RX 6500XT (H610) (Powered by
                            ASUS)</div>
                        <div class="product-price">
                            <span class="old-price">12.990.000đ</span>
                            <div class="current-price-container">
                                <span class="current-price">11.990.000đ</span>
                                <span class="discount">-8%</span>
                            </div>
                        </div>
                        <div class="product-rating">
                            <span class="rating">4.7 ★</span>
                            <span class="review-count">(15 đánh giá)</span>
                        </div>

                    </div>
                    <div style="margin-left: 23px;"></div>
                    <!-- Product Card 5 -->
                    <div class="product-card">
                        <img src="https://product.hstatic.net/200000722513/product/thumb_project_zero_c58860d9fa3a409294c17ab45f46f612_medium.png"
                            alt="Product Image">
                        <span class="sticker_left_bottom">
                            <img class="suaanh"
                                src="https://file.hstatic.net/200000722513/file/tag_bo_qua_5_trieu_d84af224989c45c5a17ca29544664be3.png"
                                alt="icon">
                        </span>
                        <div class="product-title">PC GVN x MSI PROJECT ZERO WHITE (Intel i5-12400F)</div>
                        <div class="product-price">
                            <span class="old-price">29.420.000đ</span>
                            <div class="current-price-container">
                                <span class="current-price">27.990.000đ</span>
                                <span class="discount">-5%</span>
                            </div>
                        </div>
                        <div class="product-rating">
                            <span class="rating">4.9 ★</span>
                            <span class="review-count">(45 đánh giá)</span>
                        </div>

                    </div>
                    <!-- Product Card 6 -->
                    <div class="product-card">
                        <img src="https://product.hstatic.net/200000722513/product/thumb_project_zero_c58860d9fa3a409294c17ab45f46f612_medium.png"
                            alt="Product Image">
                        <span class="sticker_left_bottom">
                            <img class="suaanh"
                                src="https://file.hstatic.net/200000722513/file/tag_bo_qua_5_trieu_d84af224989c45c5a17ca29544664be3.png"
                                alt="icon">
                        </span>
                        <div class="product-title">PC GVN x MSI PROJECT ZERO WHITE (Intel i5-12400F)</div>
                        <div class="product-price">
                            <span class="old-price">29.420.000đ</span>
                            <div class="current-price-container">
                                <span class="current-price">27.990.000đ</span>
                                <span class="discount">-5%</span>
                            </div>
                        </div>
                        <div class="product-rating">
                            <span class="rating">4.9 ★</span>
                            <span class="review-count">(45 đánh giá)</span>
                        </div>

                    </div>
                    <!-- Product Card 7 -->
                    <div class="product-card">
                        <img src="https://product.hstatic.net/200000722513/product/thumb_project_zero_c58860d9fa3a409294c17ab45f46f612_medium.png"
                            alt="Product Image">
                        <span class="sticker_left_bottom">
                            <img class="suaanh"
                                src="https://file.hstatic.net/200000722513/file/tag_bo_qua_5_trieu_d84af224989c45c5a17ca29544664be3.png"
                                alt="icon">
                        </span>
                        <div class="product-title">PC GVN x MSI PROJECT ZERO WHITE (Intel i5-12400F)</div>
                        <div class="product-price">
                            <span class="old-price">29.420.000đ</span>
                            <div class="current-price-container">
                                <span class="current-price">27.990.000đ</span>
                                <span class="discount">-5%</span>
                            </div>
                        </div>
                        <div class="product-rating">
                            <span class="rating">4.9 ★</span>
                            <span class="review-count">(45 đánh giá)</span>
                        </div>

                    </div>
                    <!-- Product Card 8 -->
                    <div class="product-card">
                        <img src="https://product.hstatic.net/200000722513/product/thumb_project_zero_c58860d9fa3a409294c17ab45f46f612_medium.png"
                            alt="Product Image">
                        <span class="sticker_left_bottom">
                            <img class="suaanh"
                                src="https://file.hstatic.net/200000722513/file/tag_bo_qua_5_trieu_d84af224989c45c5a17ca29544664be3.png"
                                alt="icon">
                        </span>
                        <div class="product-title">PC GVN x MSI PROJECT ZERO WHITE (Intel i5-12400F)</div>
                        <div class="product-price">
                            <span class="old-price">29.420.000đ</span>
                            <div class="current-price-container">
                                <span class="current-price">27.990.000đ</span>
                                <span class="discount">-5%</span>
                            </div>
                        </div>
                        <div class="product-rating">
                            <span class="rating">4.9 ★</span>
                            <span class="review-count">(45 đánh giá)</span>
                        </div>

                    </div>
                </div>
                <button class="next-button"><svg width="18" height="18" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px"
                        viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                        <polygon
                            points="6.379,20.908 7.546,22.075 17.621,12 7.546,1.925 6.379,3.092 15.287,12 ">
                        </polygon>
                    </svg>
                </button>
            </div>
        </div>
    <!-- ========================== -->
    <!--             END            -->
    <!-- ========================== -->
        <div class="hinh-container">
            <div class="banner-flexhinh">
                <div class="banner-hinh">
                    <img src="https://file.hstatic.net/200000722513/file/thang_02_build_pc_1015x325.png"
                        alt="PC GVN Promotion">
                </div>
                <div class="banner-hinh">
                    <img src="https://file.hstatic.net/200000722513/file/thagn_02_ban_ghe_1015x325.png"
                        alt="Gaming Chair Promotion">
                </div>
            </div>
        </div>




    </div>
</div>
